<link rel="icon" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
<link rel="icon" sizes="32x32" href="assets/images/favicon/favicon.ico">
<link rel="icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
<link rel="icon" sizes="192x192" href="assets/images/favicon/android-chrome-192x192.png">

<link rel="manifest" href="assets/images/favicon/site.webmanifest">
<link rel="shortcut icon" sizes="192x192" href=“assets/images/favicon/android-chrome-192x192.png">
<link rel="shortcut icon" sizes="384x384" href=“assets/images/favicon/android-chrome-384x384.png">

<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
<link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#62567E">

<meta name="msapplication-TileImage" content="assets/images/favicon/mstile-150x150.png">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="assets/images/favicon/browserconfig.xml" />

<meta name="theme-color" content="#62567E">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css"
  integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js"
  integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js"
  integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous" onload="renderMathInElement(document.body, {
    delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '$', right: '$', display: false},
      {left: '\\(', right: '\\)', display: false},
      {left: '\\[', right: '\\]', display: true}
    ],
  });"></script>